<div class = "bot-content">
  <p class = "bot-text">
    プレイリストモードです。</br>
    プレイリストはこちらになります。</br>
    <% @playlist.each do |video| %>
      ・<%= video.title %></br>
    <% end %>
    タイトルを教えて頂ければ呼び出します。</br>
    プレイリストから削除したい場合は「〇〇削除」で削除します。</br>
    プレイリストモードを終了するのでしたら「閉じて」と言ってください。
  </p>
</div>